body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  letter-spacing: 1px;
}

#wrap {
  overflow: hidden;
}

header {
  min-height: 625px;
  background-image: url(../img/startup-593328_1920.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.card-img-overlay {
  padding-top: 10rem;
}

.card-img-overlay h1 {
  font-weight: bold;
  font-size: 5rem;
}

nav {
  border: 1px solid #3c6690;
  background: linear-gradient(#829ebc,#225588);
}

.nav-link {
  font-weight: bolder;
  font-family: sans-serif;
}

section {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

#about {
  background-color: #fff;
}

#works {
  background-color: #ffffa0;
  border-top: 1px solid #fcfc88;
}

.rounded-circle {
  width: 250px;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#self-introduction {
  margin-top: 3rem;
  text-align: left;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
}

.card {
  width: 95%;
  background-color: #ffffe0;
  margin-bottom: 5rem;
  border: 1px solid #fcfc88;
}

.card-title {
  font-weight: bold;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  line-height: 2rem;
  text-align: left;
  display: inline-block;
}

#comment {
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2.5rem;
  text-align: left;
  display: inline-block;
  line-height: 2.5rem;
  text-align: left;
  display: inline-block;
}

.card-img {
  width: 100%;
  height: 100%;
}


#item {
  padding-top: 2.5rem;
  font-weight: bold;
}

#list li {
  padding-bottom: 20px;
}

.list-inline-item {
  padding-right: 20px;
}

.btn-primary {
  width: 8.3rem;
  height: 3.6rem;
  font-size: 1.04rem;
  padding-top: 16px;
  margin: 5%;
}

.btn-dark {
  width: 8.3rem;
  height: 3.6rem;
  font-size: 1.25rem;
  padding-top: 13px;
  margin: 5%;
}

footer {
  height: 80px;
  padding-top: 30px;
  color: #acacac;
  background-color:#225588;
}
