body {
  font-size: 15px;
  width: 100%;
}

#wrap {
  overflow: hidden;
}

header {
  height: auto;
  min-height: 40rem;
  background-image: url(../img/startup-593328_1920.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-overlay h1 {
  font-weight: bold;
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-img-overlay {
  padding-top: 10rem;
}

h1 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.nav-link {
  font-weight: bolder;
  font-family: sans-serif;
}

section {
  padding-bottom: 10%;
}

.card-body {
  background-color: #ffffd0;
}

li {
  padding-bottom: 6px;
}

h4 {
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  height: 80px;
  padding-top: 30px;
}
